body {
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.toggle-icon {
    width: 50px;
    height: 50px;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: black;
    color: white;
}
